/* Nav Bar */
    /* Profile */
    .dropdown-toggle::after {
    display: none;
    }
    .nav-item img {
        filter: invert(1);
        transition: filter 0.2s;
    }
    .navbar {
        background-color:#cd98fb;
    }
    /* Remove highlight and focus styles for hamburger dropdown links */
    .dropdown-menu a.dropdown-item {
        background-color: transparent; 
        color: white;                  
    }
    .dropdown-menu a.dropdown-item:hover,
    .dropdown-menu a.dropdown-item:focus,
    .dropdown-menu a.dropdown-item:active {
        background-color: transparent;  
        color: white;               
        box-shadow: none;             
    }
    
/* Event Creation Background */
    /* Section with background image */
    body {
        background-image: url("../Image/background.png");
        background-size: cover;
        background-position: center;
        position: relative; 
    }   
    /* Black overlay */
    body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* behind content */
    }

    
/* Footer */
    .footer-icons img {
        filter: invert(1);
        transition: filter 0.2s;
    }   
    footer {
        position: sticky;
        background-color: #cd98fb;
    }