{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

        <div class="d-flex justify-content-center my-5">
            <div class="card p-4" style="max-width: 700px; width: 100%; border: #cd98fb solid 2px; border-radius: 15px;">
                <h2 class="text-center">Create Your Event!</h2>
                <h6 class="text-center mb-0">Don't worry if you miss any details,</h6>
                <h6 class="text-center">you can always update the event later!</h6>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <!-- Event Name -->
                    <div class="mb-3">
                        <div class="form-group">
                            {{ form.title.label }}
                            {{ form.title(class_="form-control", size=32) }}
                        </div>
                    </div>
                    <!-- Event Image -->
                    <div class="mb-3">
                        <div class="form-group">
                            {{ form.image.label }}
                            {{ form.image(class_="form-control", size=32) }}
                        </div>    
                    </div>
                    <!-- Date & Time -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.date.label }}
                                {{ form.date(class_="form-control", size=32) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.time.label }}
                                {{ form.time(class_="form-control", size=32) }}
                            </div>
                        </div>
                    </div>
                    <!-- Venue -->
                    <div class="mb-3">
                        <div class="form-group">
                            {{ form.venue.label }}
                            {{ form.venue(class_="form-control", size=32) }}
                        </div>
                    </div>
                    <!-- Ticket Prices -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.normalPrice.label }}
                                {{ form.normalPrice(class_="form-control", size=32) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.vipPrice.label }}
                                {{ form.vipPrice(class_="form-control", size=32) }}
                            </div>
                        </div>
                    </div>
                    <!-- Ticket Available -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.normalAvail.label }}
                                {{ form.normalAvail(class_="form-control", size=32) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.vipAvail.label }}
                                {{ form.vipAvail(class_="form-control", size=32) }}
                            </div>
                        </div>
                    </div>
                    <!-- Event Description -->
                    <div class="mb-3">
                        <div class="form-group">
                            {{ form.description.label }}
                            {{ form.description(class_="form-control", size=32) }}
                        </div>      
                    </div>
                    <!-- Submit -->
                     <div class="d-flex justify-content-end">
                        <div class="form-group">
                            {{ form.submit(class_="form-control", size=32) }}
                        </div>
                     </div>
                    
                </form>
            </div>
        </div>
        <!-- Submit event Modal -->
        <div class="modal fade" id="submitEventModal" tabindex="-1" aria-labelledby="submitEventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="submitEventModalLabel">Confirm Booking</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Event:</strong> #Event name#</p>
                        <p><strong>Date and time:</strong> dd/mm/yy hh:mm</p>
                        <p><strong>Venue:</strong> #Place#</p>             
                        <p><strong>Price:</strong> Normal:$$, VIP:$$$</p>           
                        <p><strong>Tickets available:</strong> Normal: 10, VIP: 5</p>
                        <p>Please review your event details before submititng. You can still edit after this.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!-- Confirm Booking triggers Event created Modal -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eventCreatedModal" data-bs-dismiss="modal">Confirm Booking</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Event created Modal -->
        <div class="modal fade" id="eventCreatedModal" tabindex="-1" aria-labelledby="eventCreatedModalLabel" aria-hidden="true">
            <div class="modal-dialog"> 
                <div class="modal-content text-center">
                    <div class="modal-body">
                        <h5 class="mb-3">Your event has been successfully created!</h5>
                        <p>A confirmation email will be sent to you shortly.</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
