{% extends "base.html" %}

{% block head %}
<link rel="stylesheet"  href="{{ url_for('static', filename='style/IndexStyle.css') }}">
{% endblock %}

{% block content %}
<div class="container my-4 my-5 d-flex justify-content-center">
     <div class="card p-4 d-flex flex-column" style="min-height:500px; width: 100%; max-width: 1200px; border: #cd98fb solid 2px; border-radius: 15px; background: white;">
        <h1>Order Details</h1>

{% for event in purchase_tickets %}

{% endfor %}
    </div>
</div>
{% endblock %}