/* Nav Bar */
    /* Profile */
    .dropdown-toggle::after {
    display: none;
    }
    .nav-item img {
        filter: invert(1);
        transition: filter 0.2s;
    }
    .navbar {
        background-color: #cd98fb;
    }
    /* Remove highlight and focus styles for hamburger dropdown links */
    .dropdown-menu a.dropdown-item {
        background-color: transparent; 
        color: white;                  
    }
    .dropdown-menu a.dropdown-item:hover,
    .dropdown-menu a.dropdown-item:focus,
    .dropdown-menu a.dropdown-item:active {
        background-color: transparent;  
        color: white;               
        box-shadow: none;             
    }

/* Event image */
    /* Image height */
    .event-image img {
    width: 100%;
    object-fit: cover;
    height: 300px; /* mobile default */
    }
    @media (min-width: 768px) {
    .event-image img {
        height: 400px; /* tablets and up */
    }
    }
    @media (min-width: 1200px) {
    .event-image img {
        height: 500px; /* large screens */
    }
    }

/* Ticket pannel */
    /* Normal state */
    .accordion-button {
        background-color: white; 
        color: black;               /* text color */
    }
    /* When expanded */
    .accordion-button:not(.collapsed) {
        background-color: #198754;  /* slightly lighter dark gray */
        color: white;
    }

/* Footer */
    .footer-icons img {
        filter: invert(1);
        transition: filter 0.2s;
    }   
    footer {
        position: sticky;
        background-color: #cd98fb;
    }